@import url('genericons/genericons.css');
/**
 * woo_social_discounts Base Styles
 */

.wsd-content ul {
	padding: 0 !important;
	list-style: none !important;
}

.wsd-content ul li {
	display: inline-block;
}

.wsd-content ul li a.wsd-button
 {	
	text-decoration: none !important;
	display: inline-block;
	font-size: 12px;
	font-family: "Open Sans", sans-serif;
	font-weight: normal;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0,0,0,.08);
	text-shadow: none;
	line-height: 23px;
	border: none;
}

.wsd-content ul li a.wsd-button:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font: normal 16px/1 'Genericons';
	vertical-align: middle;
	text-align: center;
}

.wsd-social-icon .wsd-content ul li.share-twitter a:before {
	content: '\f202';
}

.wsd-social-icon .wsd-content ul li.share-facebook a:before {
	content: '\f204';
}

.wsd-social-icon .wsd-content ul li[class*='share-'] a,
.wsd-social-icon .wsd-content ul li[class*='share-'] a:hover{

	box-shadow: none;
	padding: 8px;
        padding-left: 18px;
        padding-right: 18px;
	line-height: 1;
	width: auto;
	height: auto;
	
}

.wsd-social-icon .wsd-content ul li[class*='share-'] a:hover {
	border: none;
	opacity: .6;
}

.wsd-social-icon .wsd-content ul li[class*='share-'].share-facebook a.wsd-button {
	background: #3b5998;
	color: #fff !important;
}

.wsd-social-icon .wsd-content ul li[class*='share-'].share-twitter a.wsd-button {
	background: #00acee;
	color: #fff !important;
}

div.woo_social_discounts h3.wsd-title {
  margin: 0 0 5px;
  display: inline-block;
  line-height: 1.2;
  font-size: 9pt;
  font-weight: 700;
}

.wsd-content ul li  {
    width: 52px;
    height: 32px;
    margin-right: 5px;
    display: inline-block;
}
